* { box-sizing: border-box; }

body
{
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, #ff9a9e, #fad0c4);
    font-family: Arial, sans-serif;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card
{
    background: white;
    padding: 30px 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    z-index: 2;
}

.buttons
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 60px;
}

button
{
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#yes
{
    background: #ff4d6d;
    color: white;
}

#no
{
    background: #ccc;
}

.modal
{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.paper
{
    background: #f3e5ab;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: inset 0 0 30px rgba(0,0,0,0.2),
                0 10px 30px rgba(0,0,0,0.4);
}

.timing
{
    font-family: 'Marck Script', cursive;
    font-size: 26px;
    color: #3b2f2f;
    line-height: 1.4;
    text-align: center;
}

.paper
{
    transform: scale(0.6);
    opacity: 0;
    filter: blur(8px);
    transition: all 0.6s ease;
}

.modal.show .paper
{
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
}

@keyframes shake
{
    0%{transform:translate(0,0);}
    25%{transform:translate(-2px,2px);}
    50%{transform:translate(2px,-2px);}
    75%{transform:translate(-2px,-2px);}
    100%{transform:translate(0,0);}
}

#no.shake
{
    animation: shake 0.2s infinite;
}

.hearts span
{
    position: absolute;
    bottom: -50px;
    animation: float 8s linear infinite;
    opacity: 0.8;
    pointer-events: none;
}

@keyframes float
{
    from { transform: translateY(0); }
    to { transform: translateY(-110vh); }
}

.cry
{
    position: fixed; inset: 0;
    background: black;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    font-size: 160px; color: white;
    z-index: 9999; opacity: 0;
    pointer-events: none; transition: opacity 0.3s ease;
    text-align: center;
}

.cry.show
{
    opacity: 1;
}

.cry .cry-text
{
    font-size: 32px;
    margin-top: 20px;
    color: #8d7c94;
    text-shadow: 0 0 10px black, 0 0 5px black;
}


@keyframes fall
{
    0%{transform:translateY(0);opacity:1;}
    100%{transform:translateY(100vh);opacity:0;}
}
